#reciente-list-cont{
    max-height: 550px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .options-slider-cont-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 10px;
    bottom: 0px;
    width: 130px;
    height: 160px;
  }

  .options-slider-cont-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 10px;
    bottom: 0px;
    width: 130px;
    height: 160px;
    transform: translateY(120px);
  }

  .slider-button-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid white;
    transform: translateY(1.3px);
    width:30%;
    height:30%
  }

  .slider-opt-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border: 1px solid black;
    width:100%;
    height:70%
  }

  #slider-button{
    height: 70%;
    width: 70%;
  }

  .graph-col{
    border: 1px solid black;
    background-color:white;
    min-height:200px;
    padding: 0;
    margin:10px
  }

  .graph-col:hover {
    border: 1px solid lightskyblue;
  }

  .graph-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .col-buttons-cont-lg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .col-button{
    background-color: aqua;
    width: 25%;
    height: 25%;
  }

@media (min-width: 576px) { 
    .card-title{
        font-size: 12px;
    }

    .card-text{
        font-size: 8px;
        margin-bottom: 0.5rem;
    }

    .flip-card {
        height: 175px;
    }

    .flip-card-front, .flip-card-back {
        height: 175px;
    }
}

@media (min-width: 768px) { 
    .card-title{
        font-size: 15px;
    }
    
    .card-text{
        font-size: 11px;
        margin-bottom: 0.5rem;
    }

    .flip-card {
        height: 245px;
    }

    .flip-card-front, .flip-card-back {
        height: 245px;
    }
}

@media (min-width: 992px) {
    .card-title{
        font-size: 17px;
    }
 
    .card-text{
        font-size: 15px;
    }

    .flip-card {
        height: 325px;
    }

    .flip-card-front, .flip-card-back {
        height: 325px;
    }
}

@media (min-width: 1200px) { 
    .card-title{
        font-size: 19px;
    }

    .card-text{
        font-size: 19px;
    }

    .flip-card {
        height: 390px;
    }

    .flip-card-front, .flip-card-back {
        height: 390px;
    }
}

@media (min-width: 1400px) {
    .card-title{
        font-size: 24px;
    }
 
    .card-text{
        font-size: 24px;
    }

    .flip-card {
        height: 450px;
    }

    .flip-card-front, .flip-card-back {
        height: 450px;
    }
}